.woocommerce #respond input#submit, 
.woocommerce a.button, 
.woocommerce button.button, 
.woocommerce input.button{
	height: 34px;
	padding: 0 20px;
	background: #666;
	color: #fff;
	border-radius: 0;
	font-weight: normal;
	line-height: 34px;
}
.woocommerce #respond input#submit:hover, 
.woocommerce a.button:hover, 
.woocommerce button.button:hover, 
.woocommerce input.button:hover{
	color: #fff;
	background: #ff3366;
}
/*----------------
[Wishlist, compare button]
-----------------*/
.yith-wcwl-add-to-wishlist{
	width: 32px;
	height: 32px;
	margin: 0;
}
.yith-wcwl-add-to-wishlist .show a{
	font-size: 0;
	background: rgba(0,0,0,0.4);
	line-height: 32px;
	-webkit-transition: margin-left 0.4s ease 0.4s;
    -moz-transition: margin-left 0.4s ease 0.4s;
    -ms-transition: margin-left 0.4s ease 0.4s;
    -o-transition: margin-left 0.4s ease 0.4s;
    transition: margin-left 0.4s ease 0.4s;
    margin-left: 200px;
}
.yith-wcwl-add-to-wishlist .show{
	position: relative;
}
.yith-wcwl-add-to-wishlist .show a:before{
	font: normal normal normal 14px/1 FontAwesome;
    content: "\f08a";
    line-height:inherit;
}
.yith-wcwl-add-to-wishlist .show img{
	position: absolute;
    top: 12px;
    left: 9px;
    z-index: 10;
}
.yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse,
.yith-wcwl-add-to-wishlist .yith-wcwl-wishlistaddedbrowse{
	font-size: 0;
}
.product-list li:hover .quick-view .yith-wcwl-add-to-wishlist .show a{
	margin-left: 0;
}

.woocommerce.product .compare-button .compare  {
	font-size: 0;
	padding: 0;
	margin: 0;
}
.product-list li .quick-view a.compare{
	padding: 0;
	margin: 0;
	font-size: 0;
	line-height: 32px;
	margin-top: 5px;
	margin-left: 200px;
}
.product-list li .quick-view a.compare:hover{
	color: #fff;
}
.product-list li .quick-view a.compare:before{
	line-height: inherit;
}

/*-----------------
[Category page]
------------------*/

.woocommerce .woocommerce-breadcrumb{
	padding-top: 16px;
	font-size: 14px;
}
.woocommerce ul.woof-products{
	margin-top: -10px;
	width: 100%;
	float: left;
	padding-bottom: 20px;
}
.woocommerce ul.woof-products li.product{
	margin-top: 30px;
	display: inline-block;
}
.woocommerce ul.woof-products .availability .outofstock{
	color: #ff3366;
}
.woocommerce ul.woof-products li.product.instock .outofstock{
	display: none;
}
.woocommerce ul.woof-products li.product.outofstock .instock{
	display: none;
}
.woocommerce .product-list.list .yith-wcwl-add-to-wishlist{
	margin-right: 10px;
}
.woocommerce .product-list.list .yith-wcwl-add-to-wishlist .show a{
	margin: inherit;
}
.product-list.list li .quick-view>div{
	display: inline-block;
	float: left;
}
.product-list.list li .quick-view .clear{
	display: none;
}
.product-list.list li .quick-view a.search{
	margin: inherit;
	display: inline-block;
}
.product-list.list li .quick-view a.compare{
	margin: inherit;
	margin-right: 10px;
}
.view-product-list .pagination{
	margin-top: 0;
	float: right;
	margin-left: 15px;
}
.view-product-list .pagination .screen-reader-text{
	display: none;
}
.woocommerce .woocommerce-ordering{
	width: auto;
	margin: 0;
	border: 1px solid #eaeaea;
}
.woocommerce .woocommerce-ordering:before{
	content: "\f15d";
	display: inline-block;
    width: 38px;
    text-align: center;
    float: right;
    height: 29px;
    border-left: 1px solid #eaeaea;
    background: #fafafa;
    line-height: 28px;
    font-family: 'FontAwesome';
}
.woocommerce .woocommerce-ordering .orderby{
	display: inline-block;
	float: left;
	width: auto;
	border: none;
}

/*-----------------
[Widget product]
------------------*/
.widget_product_categories ul>li>a:before {
    content: "\f105";
    font-size: 14px;
    display: inline-block;
    text-align: right;
    font-family: "FontAwesome";
    padding-right: 12px;
}
.widget_product_categories span.count,
.widget_layered_nav span.count{
	color: #a4a4a4;
	margin-left: 5px;
}
.widget_product_categories ul li .children {
    padding-left: 20px;
}
.widget_product_categories .children li a:before {
    content: "\f0da";
    font-size: 14px;
    display: inline-block;
    text-align: right;
    font-family: "FontAwesome";
    padding-right: 12px;
}
.widget_product_search{
	border: none;
	padding: 0;
}
.widget_product_search .widget-title{
	display: none;
}
.widget_product_search .screen-reader-text{
	display: none;
}
.widget_product_search input[type="submit"]{
	display: none;
}

/*------------------
[Product widget]
-------------------*/
.product_list_widget{
	padding: 0;
}
.product_list_widget li{
	border-bottom: 1px solid #eaeaea;
	padding: 20px 0;
}
.woocommerce ul.cart_list li, 
.woocommerce ul.product_list_widget li{
	border-bottom: 1px solid #eaeaea;
	padding: 20px 0;
}
.woocommerce ul.cart_list li:first-child, 
.woocommerce ul.product_list_widget li:first-child{
	padding-top: 0;
}
.woocommerce ul.cart_list li:last-child, 
.woocommerce ul.product_list_widget li:last-child{
	border:none;
	padding-bottom: 0;
}
.woocommerce ul.cart_list li img, 
.woocommerce ul.product_list_widget li img{
	width: 75px;
	float: left;
	margin: 0;
	margin-right: 10px;
}
.woocommerce ul.cart_list li a, 
.woocommerce ul.product_list_widget li a{
	font-weight: normal;
}
.woocommerce ul.cart_list li del, 
.woocommerce ul.product_list_widget li del{
	color: #666;
	margin-left: 10px;
}
.woocommerce ul.cart_list li ins, 
.woocommerce ul.product_list_widget li ins{
	color: #ff3366;
	font-size: 18px;
	float: left;
	text-decoration: none;
}
.woocommerce ul.cart_list li .product-star, 
.woocommerce ul.product_list_widget li .product-star{
	color: #ff9900;
	font-size: 13px;
}

.widget_product_tag_cloud .tagcloud a{
	-webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
    display: inline-block;
    padding: 4px 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    line-height: 1.6;
    border: 1px solid #ededed;
    font-size: 14px!important;
}
.widget_product_tag_cloud .tagcloud a:hover{
	background: #ff3366;
    border-color: #ff3366;
    color: #FFFFFF;
    text-decoration: none;
}
/** FILTER PRICE **/

.woocommerce .widget_price_filter .ui-slider .ui-slider-range{
	background: #ccc;
    height: 7px;
    border-radius: 0;
}
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content{
	background: #ff3366;
	border: none;
	border-radius: 0;
	height: 7px;
	width: 100%;
	float: left;
}
.woocommerce .widget_price_filter .ui-slider{
	padding: 0;
	margin: 0;
	margin-bottom: 15px;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle{
	border: none;
	border-radius: 0;
	background: url("../images/range-icon.png") no-repeat;
	cursor: pointer;
}
.woocommerce .widget_price_filter .price_slider_amount{
	font-size: 14px;
	line-height: 34px;
}
.woocommerce .widget_price_filter .price_slider_amount .button{
	font-size: 14px;
	border: none;
	background: #666;
	color: #fff;
	border-radius: 0;
	font-weight: normal;
	padding: 0 15px;
	height: 34px;
	line-height: 34px;
}

.WOOF_Widget .widget-woof{
	padding: 0;
	border: none;
}
.woof_container{
	margin-top: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #eaeaea;
	display: table;
	width: 100%;
}
.woof_container:last-child{
	border: none;
	padding: 0;
}
.woof_container h3{
	font-weight: normal;
	color: #666;
    font-size: 16px;
    padding-bottom: 15px;
    text-transform: uppercase;
    margin: 0;
    width: 100%;
    float: left;
}
.woof_container .woof_list {
	padding: 0;
	width: 100%;
	float: left;
}
.woof_container label{
	font-weight: normal;
	cursor: pointer;
	margin: 0;
}
.woof_container label .count{
	color: #a4a4a4;
	margin-left: 5px;
}
.woof_container input[type="radio"],
.woof_container input[type="checkbox"]{
	display: none;
}
.woof_container .woof-tax-thumb-auto,
.woof_container .woof-tax-thumb{
	width: 12px;
	height: 12px;
	border: 1px solid #eaeaea;
	display: inline-block;
	margin-bottom: -1px;
}
.woof_container .js-checked .woof-tax-thumb-auto,
.woof_container .js-checked .woof-tax-thumb{
	background: #ff3366 url("../images/checked.png") no-repeat center center;
	border-color: #ff3366;
}
.woof_container .js-checked,
.woof_container .js-checked{
	color: #ff3366;
}
.woof_container .js-checked .woof_radio_term_reset{
	display: block;
}
.woof_container .woof_radio_term_reset{
	float: right;
	display: none;
}
.woof_container .woof_radio_term_reset .fa{
	display: none;
}
.woof_container .woof_radio_term_reset:before{
	content: '';
    background: url("../images/delete_icon.png") no-repeat center center;
    font-size: 0;
    height: 9px;
    width: 9px;
    display: inline-block;
    line-height: 24px;
}
.woof_container .woof_list_radio .woof-tax-thumb-auto,
.woof_container .woof_list_radio .woof-tax-thumb{
	border-radius: 50%;
}
.woof_container .woof_list_radio .js-checked .woof-tax-thumb-auto,
.woof_container .woof_list_radio .js-checked .woof-tax-thumb{
	background: #ff3366 url("../images/radio-checked.png") no-repeat center center;
	border-color: #ff3366;
}
.woof_container .price_slider_amount{
	text-align: left;
	float: left;
}
.woof-loading{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 300px;
    left: 45%;
    display: block;
    line-height: 100px;
    color: #fff;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    z-index: 10000;
}
.woof_container .woof_mselect{
	min-height: 100px;
}
/*--------------------
[ woo messages]
--------------------*/
.woocommerce .woocommerce-info{
	border-top-color: #ff3366;
}

.woocommerce-breadcrumb .navigation-pipe:before {
    content: "\f105";
    font-size: 14px;
    display: inline-block;
    text-align: right;
    width: 6px;
    color: #666;
    font-family: "FontAwesome";
    padding: 0 15px;
}
.woocommerce .woocommerce-breadcrumb a{
	color: #333;
}
.woocommerce .woocommerce-breadcrumb a:hover{
	color: #ff3366;
}

.view-product-list .page-title{
	text-transform: none;
	position: relative;
	height: 41px;
	line-height: 40px;
}
.view-product-list .page-title span{
	border-bottom: 3px solid #ff3366;
    bottom: -1px;
    position: absolute;
    padding: 0 12px;
}


/*--------------------
[ Product page]
--------------------*/

/*Tab*/
.woocommerce .woocommerce-tabs{
	
}
.woocommerce .woocommerce-tabs:before{
	border-color: #e2e2e2!important;
}
.woocommerce .woocommerce-tabs ul.tabs{
	margin: 0!important;
	padding: 0 0 0 1px!important;
	height: 50px;
}
.woocommerce .woocommerce-tabs ul.tabs li{
	border: 1px solid #e2e2e2!important;
	border-radius: 0!important;
	margin-right: 10px!important;
	margin-left: -1px!important;
	padding: 0!important;
}
.woocommerce .woocommerce-tabs ul.tabs li:before,
.woocommerce .woocommerce-tabs ul.tabs li:after{
	display: none;
}
.woocommerce .woocommerce-tabs ul.tabs li a {
    display: inline-block;
    padding: 0 26px!important;
    font-weight: 700;
    text-decoration: none;
    color: #333!important;
    height: 50px;
    line-height: 50px;
    text-transform: uppercase;
}
.woocommerce .woocommerce-tabs .panel {
    margin: 0 0 2em;
    padding: 20px!important;
    border: 1px solid #e2e2e2;
    border-radius: 0!important;
    margin-top: -1px!important;
}
.woocommerce .woocommerce-tabs .panel h2{
	margin-top: 0;
}

.related.products>h2{
	text-transform: uppercase;
	font-size: 16px;
}
.summary.entry-summary{
	line-height: 24px;
}
.summary.entry-summary p{
	margin-bottom: 5px;
}
.woocommerce div.product .product_title{
	font-size: 24px;
}
.woocommerce div.product .woocommerce-product-rating{
	font-size: 13px;
	margin-bottom: 10px;
	color: #ff9900;
}
.woocommerce div.product p.price, 
.woocommerce div.product span.price{
	font-size: 18px;
	color: #ff3366;
}
.product-meta{
	border-bottom: 1px solid #eaeaea;
	padding-bottom: 5px;
	margin-bottom: 10px;
}
.woocommerce div.product form.cart, 
.woocommerce div.product p.cart{
	border-top: 1px solid  #eaeaea;
	margin-top: 10px;
	padding-top: 15px;
}
.woocommerce div.product form.cart div.quantity{
	margin: 0;
	width: 100%;
}
.woocommerce .quantity .qty{
	width: 100px;
	border: 1px solid #eaeaea;
	padding: 0 5px;
	height: 34px;
}
.woocommerce div.product form.cart .button{
	margin-top: 15px;
}