/*----------------
[Wishlist, compare button]
-----------------*/
.yith-wcwl-add-to-wishlist{
	width: 32px;
	height: 32px;
	margin: 0;
}
.yith-wcwl-add-to-wishlist .show a{
	font-size: 0;
	background: rgba(0,0,0,0.4);
	line-height: 32px;
	-webkit-transition: margin-left 0.4s ease 0.4s;
    -moz-transition: margin-left 0.4s ease 0.4s;
    -ms-transition: margin-left 0.4s ease 0.4s;
    -o-transition: margin-left 0.4s ease 0.4s;
    transition: margin-left 0.4s ease 0.4s;
    margin-left: 200px;
}
.yith-wcwl-add-to-wishlist .show{
	position: relative;
}
.yith-wcwl-add-to-wishlist .show a:before{
	font: normal normal normal 14px/1 FontAwesome;
    content: "\f08a";
    line-height:inherit;
}
.yith-wcwl-add-to-wishlist .show img{
	position: absolute;
    top: 12px;
    left: 9px;
    z-index: 10;
}
.yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse,
.yith-wcwl-add-to-wishlist .yith-wcwl-wishlistaddedbrowse{
	font-size: 0;
}
.product-list li:hover .quick-view .yith-wcwl-add-to-wishlist .show a{
	margin-left: 0;
}

.woocommerce.product .compare-button .compare  {
	font-size: 0;
	padding: 0;
	margin: 0;
}
.product-list li .quick-view a.compare{
	padding: 0;
	margin: 0;
	font-size: 0;
	line-height: 32px;
	margin-top: 5px;
	margin-left: 200px;
}
.product-list li .quick-view a.compare:hover{
	color: #fff;
}
.product-list li .quick-view a.compare:before{
	line-height: inherit;
}

/*-----------------
[Category page]
------------------*/

.woocommerce .woocommerce-breadcrumb{
	padding-top: 16px;
	font-size: 14px;
}
.woocommerce ul.woof-products{
	margin-top: -10px;
	width: 100%;
	float: left;
	padding-bottom: 20px;
}
.woocommerce ul.woof-products li.product{
	margin-top: 30px;
	display: inline-block;
}
.view-product-list .pagination{
	margin-top: 0;
	float: right;
}
.view-product-list .pagination .screen-reader-text{
	display: none;
}
.woocommerce .woocommerce-ordering{
	width: auto;
	margin: 0;
	margin-right: 15px;
	border: 1px solid #eaeaea;
}
.woocommerce .woocommerce-ordering:before{
	content: "\f15d";
	display: inline-block;
    width: 38px;
    text-align: center;
    float: right;
    height: 29px;
    border-left: 1px solid #eaeaea;
    background: #fafafa;
    line-height: 28px;
    font-family: 'FontAwesome';
}
.woocommerce .woocommerce-ordering .orderby{
	display: inline-block;
	float: left;
	width: auto;
	border: none;
}