.woocommerce #respond input#submit, 
.woocommerce a.button, 
.woocommerce button.button, 
.woocommerce input.button{
	height: 34px;
	padding: 0 20px;
	background: #666;
	color: #fff;
	border-radius: 0;
	font-weight: normal;
	line-height: 34px;
}
.woocommerce #respond input#submit:hover, 
.woocommerce a.button:hover, 
.woocommerce button.button:hover, 
.woocommerce input.button:hover{
	color: #fff;
	background: #ff3366;
}
.woocommerce .woocommerce-message {
    border-top-color: #8fae1b;
    line-height: 34px;
}
/*----------------
[Wishlist, compare button]
-----------------*/
.yith-wcwl-add-to-wishlist{
	width: 32px;
	height: 32px;
	margin: 0;
}
.yith-wcwl-add-to-wishlist .show a{
	font-size: 0;
	background: rgba(0,0,0,0.4);
	line-height: 32px;
	-webkit-transition: margin-left 0.4s ease 0.4s;
    -moz-transition: margin-left 0.4s ease 0.4s;
    -ms-transition: margin-left 0.4s ease 0.4s;
    -o-transition: margin-left 0.4s ease 0.4s;
    transition: margin-left 0.4s ease 0.4s;
    margin-left: 200px;
}
.yith-wcwl-add-to-wishlist .show{
	position: relative;
}
.yith-wcwl-add-to-wishlist .show a:before{
	font: normal normal normal 14px/1 FontAwesome;
    content: "\f08a";
    line-height:inherit;
}
.yith-wcwl-add-to-wishlist .show img{
	position: absolute;
    top: 12px;
    left: 9px;
    z-index: 10;
}
.yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse,
.yith-wcwl-add-to-wishlist .yith-wcwl-wishlistaddedbrowse{
	font-size: 0;
}
.product-list li:hover .quick-view .yith-wcwl-add-to-wishlist .show a{
	margin-left: 0;
}

.woocommerce.product .compare-button .compare  {
	font-size: 0;
	padding: 0;
	margin: 0;
}
.product-list li .quick-view a.compare{
	padding: 0;
	margin: 0;
	font-size: 0;
	line-height: 32px;
	margin-top: 5px;
	margin-left: 200px;
}
.product-list li .quick-view a.compare:hover{
	color: #fff;
}
.product-list li .quick-view a.compare:before{
	line-height: inherit;
}

/*-----------------
[Category page]
------------------*/

.woocommerce .woocommerce-breadcrumb{
	padding-top: 16px;
	font-size: 14px;
}
.woocommerce ul.woof-products{
	margin-top: -10px;
	width: 100%;
	float: left;
	padding-bottom: 20px;
}
.woocommerce ul.woof-products li.product{
	margin-top: 30px;
}
.woocommerce ul.woof-products .availability .outofstock{
	color: #ff3366;
}
.woocommerce ul.woof-products li.product.instock .outofstock{
	display: none;
}
.woocommerce ul.woof-products li.product.outofstock .instock{
	display: none;
}
.woocommerce .product-list.list .yith-wcwl-add-to-wishlist{
	margin-right: 10px;
}
.woocommerce .product-list.list .yith-wcwl-add-to-wishlist .show a{
	margin: inherit;
}
.product-list.list li .quick-view>div{
	display: inline-block;
	float: left;
}
.product-list.list li .quick-view .clear{
	display: none;
}
.product-list.list li .quick-view a.search{
	margin: inherit;
	display: inline-block;
}
.product-list.list li .quick-view a.compare{
	margin: inherit;
	margin-right: 10px;
}
.view-product-list .pagination{
	margin-top: 0;
	float: right;
	margin-left: 15px;
}
.view-product-list .pagination .screen-reader-text{
	display: none;
}
.woocommerce .woocommerce-ordering{
	width: auto;
	margin: 0;
	border: 1px solid #eaeaea;
}
.woocommerce .woocommerce-ordering:before{
	content: "\f15d";
	display: inline-block;
    width: 38px;
    text-align: center;
    float: right;
    height: 29px;
    border-left: 1px solid #eaeaea;
    background: #fafafa;
    line-height: 28px;
    font-family: 'FontAwesome';
}
.woocommerce .woocommerce-ordering .orderby{
	display: inline-block;
	float: left;
	width: auto;
	border: none;
}

/*-----------------
[Widget product]
------------------*/
.widget_product_categories ul>li>a:before {
    content: "\f105";
    font-size: 14px;
    display: inline-block;
    text-align: right;
    font-family: "FontAwesome";
    padding-right: 12px;
}
.widget_product_categories span.count,
.widget_layered_nav span.count{
	color: #a4a4a4;
	margin-left: 5px;
}
.widget_product_categories ul li .children {
    padding-left: 20px;
}
.widget_product_categories .children li a:before {
    content: "\f0da";
    font-size: 14px;
    display: inline-block;
    text-align: right;
    font-family: "FontAwesome";
    padding-right: 12px;
}
.widget_product_search{
	border: none;
	padding: 0;
}
.widget_product_search .widget-title{
	display: none;
}
.widget_product_search .screen-reader-text{
	display: none;
}
.widget_product_search input[type="submit"]{
	display: none;
}

/*------------------
[Product widget]
-------------------*/
.product_list_widget{
	padding: 0;
}
.product_list_widget li{
	border-bottom: 1px solid #eaeaea;
	padding: 20px 0;
}
.woocommerce ul.cart_list li, 
.woocommerce ul.product_list_widget li{
	border-bottom: 1px solid #eaeaea;
	padding: 20px 0;
}
.woocommerce ul.cart_list li:first-child, 
.woocommerce ul.product_list_widget li:first-child{
	padding-top: 0;
}
.woocommerce ul.cart_list li:last-child, 
.woocommerce ul.product_list_widget li:last-child{
	border:none;
	padding-bottom: 0;
}
.woocommerce ul.cart_list li img, 
.woocommerce ul.product_list_widget li img{
	width: 75px;
	float: left;
	margin: 0;
	margin-right: 10px;
}
.woocommerce ul.cart_list li a, 
.woocommerce ul.product_list_widget li a{
	font-weight: normal;
}
.woocommerce ul.cart_list li del, 
.woocommerce ul.product_list_widget li del{
	color: #666;
	margin-left: 10px;
}
.woocommerce ul.cart_list li ins, 
.woocommerce ul.product_list_widget li ins{
	color: #ff3366;
	font-size: 18px;
	float: left;
	text-decoration: none;
}
.woocommerce ul.cart_list li .product-star, 
.woocommerce ul.product_list_widget li .product-star{
	color: #ff9900;
	font-size: 13px;
}

.widget_product_tag_cloud .tagcloud a{
	-webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
    display: inline-block;
    padding: 4px 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    line-height: 1.6;
    border: 1px solid #ededed;
    font-size: 14px!important;
}
.widget_product_tag_cloud .tagcloud a:hover{
	background: #ff3366;
    border-color: #ff3366;
    color: #FFFFFF;
    text-decoration: none;
}
/** FILTER PRICE **/

.woocommerce .widget_price_filter .ui-slider .ui-slider-range{
	background: #ccc;
    height: 7px;
    border-radius: 0;
}
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content{
	background: #ff3366;
	border: none;
	border-radius: 0;
	height: 7px;
	width: 100%;
	float: left;
}
.woocommerce .widget_price_filter .ui-slider{
	padding: 0;
	margin: 0;
	margin-bottom: 15px;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle{
	border: none;
	border-radius: 0;
	background: url("../images/range-icon.png") no-repeat;
	cursor: pointer;
}
.woocommerce .widget_price_filter .price_slider_amount{
	font-size: 14px;
	line-height: 34px;
}
.woocommerce .widget_price_filter .price_slider_amount .button{
	font-size: 14px;
	border: none;
	background: #666;
	color: #fff;
	border-radius: 0;
	font-weight: normal;
	padding: 0 15px;
	height: 34px;
	line-height: 34px;
}

.WOOF_Widget .widget-woof{
	padding: 0;
	border: none;
}
.woof_container{
	margin-top: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #eaeaea;
	display: table;
	width: 100%;
}
.woof_container:last-child{
	border: none;
	padding: 0;
}
.woof_container h3{
	font-weight: normal;
	color: #666;
    font-size: 16px;
    padding-bottom: 15px;
    text-transform: uppercase;
    margin: 0;
    width: 100%;
    float: left;
}
.woof_container .woof_list {
	padding: 0;
	width: 100%;
	float: left;
}
.woof_container label{
	font-weight: normal;
	cursor: pointer;
	margin: 0;
}
.woof_container label .count{
	color: #a4a4a4;
	margin-left: 5px;
}
.woof_container input[type="radio"],
.woof_container input[type="checkbox"]{
	display: none;
}
.woof_container .woof-tax-thumb-auto,
.woof_container .woof-tax-thumb{
	width: 12px;
	height: 12px;
	border: 1px solid #eaeaea;
	display: inline-block;
	margin-bottom: -1px;
}
.woof_container .js-checked .woof-tax-thumb-auto,
.woof_container .js-checked .woof-tax-thumb{
	background: #ff3366 url("../images/checked.png") no-repeat center center;
	border-color: #ff3366;
}
.woof_container .js-checked,
.woof_container .js-checked{
	color: #ff3366;
}
.woof_container .js-checked .woof_radio_term_reset{
	display: block;
}
.woof_container .woof_radio_term_reset{
	float: right;
	display: none;
}
.woof_container .woof_radio_term_reset .fa{
	display: none;
}
.woof_container .woof_radio_term_reset:before{
	content: '';
    background: url("../images/delete_icon.png") no-repeat center center;
    font-size: 0;
    height: 9px;
    width: 9px;
    display: inline-block;
    line-height: 24px;
}
.woof_container .woof_list_radio .woof-tax-thumb-auto,
.woof_container .woof_list_radio .woof-tax-thumb{
	border-radius: 50%;
}
.woof_container .woof_list_radio .js-checked .woof-tax-thumb-auto,
.woof_container .woof_list_radio .js-checked .woof-tax-thumb{
	background: #ff3366 url("../images/radio-checked.png") no-repeat center center;
	border-color: #ff3366;
}
.woof_container .price_slider_amount{
	text-align: left;
	float: left;
}
.woof-loading{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 300px;
    left: 45%;
    display: block;
    line-height: 100px;
    color: #fff;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    z-index: 10000;
}
.woof_container .woof_mselect{
	min-height: 100px;
}
/*--------------------
[ woo messages]
--------------------*/
.woocommerce .woocommerce-info{
	border-top-color: #ff3366;
}

.woocommerce-breadcrumb .navigation-pipe:before {
    content: "\f105";
    font-size: 14px;
    display: inline-block;
    text-align: right;
    width: 6px;
    color: #666;
    font-family: "FontAwesome";
    padding: 0 15px;
}
.woocommerce .woocommerce-breadcrumb a{
	color: #333;
}
.woocommerce .woocommerce-breadcrumb a:hover{
	color: #ff3366;
}

.view-product-list .page-title{
	text-transform: none;
	position: relative;
	height: 41px;
	line-height: 40px;
}
.view-product-list .page-title span{
	border-bottom: 3px solid #ff3366;
    bottom: -1px;
    position: absolute;
    padding: 0 12px;
}


/*--------------------
[ Product page]
--------------------*/

/*Tab*/
.woocommerce .woocommerce-tabs{
	
}
.woocommerce .woocommerce-tabs:before{
	border-color: #e2e2e2!important;
}
.woocommerce .woocommerce-tabs ul.tabs{
	margin: 0!important;
	padding: 0 0 0 1px!important;
	height: 50px;
}
.woocommerce .woocommerce-tabs ul.tabs li{
	border: 1px solid #e2e2e2!important;
	border-radius: 0!important;
	margin-right: 10px!important;
	margin-left: -1px!important;
	padding: 0!important;
}
.woocommerce .woocommerce-tabs ul.tabs li:before,
.woocommerce .woocommerce-tabs ul.tabs li:after{
	display: none;
}
.woocommerce .woocommerce-tabs ul.tabs li a {
    display: inline-block;
    padding: 0 26px!important;
    font-weight: 700;
    text-decoration: none;
    color: #333!important;
    height: 50px;
    line-height: 50px;
    text-transform: uppercase;
}
.woocommerce .woocommerce-tabs .panel {
    margin: 0 0 2em;
    padding: 20px!important;
    border: 1px solid #e2e2e2;
    border-radius: 0!important;
    margin-top: -1px!important;
}
.woocommerce .woocommerce-tabs .panel h2{
	margin-top: 0;
}
.woocommerce .star-rating{
	font-size: 10px;
	color: #ff9900;
}

.related.products>h2,
.upsells.products>h2{
	text-transform: uppercase;
	font-size: 16px;
	margin-top: 30px;
	margin-bottom: 20px;
	font-weight: bold;
}
.related.products ul.woof-products,
.upsells.products ul.woof-products {
	margin-top: 0;
}
.related.products ul.woof-products li.product,
.upsells.products ul.woof-products li.product{
	width: 100%;
	margin-top: 0;
}

.related.products .owl-controls .owl-prev, 
.related.products .owl-controls .owl-next,
.upsells.products .owl-controls .owl-prev, 
.upsells.products .owl-controls .owl-next{
	top: -30px;
}
.related.products .owl-controls .owl-prev,
.upsells.products .owl-controls .owl-prev{
	left: inherit;
	right: 42px;
}
.related.products .owl-controls .owl-next,
.upsells.products .owl-controls .owl-next{
	right: 15px;
}

.summary.entry-summary{
	line-height: 24px;
}
.summary.entry-summary p{
	margin-bottom: 5px;
}
.woocommerce div.product .product_title{
	font-size: 24px;
}
.woocommerce div.product .woocommerce-product-rating{
	font-size: 13px;
	margin-bottom: 5px;
	color: #ff9900;
}
.woocommerce div.product p.price, 
.woocommerce div.product span.price{
	font-size: 18px;
	color: #ff3366;
}
.woocommerce div.product ins{
	float: left;
}
.woocommerce div.product del{
	font-size: 14px;
	color: #666;
	margin-left: 10px;
}

.product-meta{
	border-bottom: 1px solid #eaeaea;
	padding-bottom: 5px;
	margin-bottom: 10px;
}

.woocommerce div.product .available-options{
	border-top: 1px solid #eaeaea;
	margin-top: 10px;
	padding-top: 15px;
}
.woocommerce div.product .available-options .available-title{
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-weight: bold;
}

.woocommerce div.product form.cart, 
.woocommerce div.product p.cart{
	margin-top: 10px;
	margin-bottom: 15px;
}
.woocommerce div.product form.cart div.quantity{
	margin: 0;
	width: 100%;
	border-bottom: 1px solid #eaeaea;
	padding-bottom: 15px;
	margin-bottom: 15px;
}
.woocommerce .quantity .qty{
	width: 100px;
	height: 30px;
	padding: 0;
}
.woocommerce div.product form.cart div.quantity table{
	width: 100%;
}
.woocommerce div.product form.cart div.quantity table,
.woocommerce div.product form.cart div.quantity table th,
.woocommerce div.product form.cart div.quantity table td{
	border: none;
	padding-left: 0;
}
.woocommerce div.product form.cart div.quantity table td.quantity-label{
	width: 50px;
	padding-left: 0;
	padding-right: 0;

}
.woocommerce div.product form.cart .button-add-cart{
	border-top: 1px solid #eaeaea;
	margin-top: 15px;
	padding-top: 15px;
	width: 100%;
	float: left;
}
.woocommerce div.product form.cart .button{
	background: #F36;
	padding: 0 15px;
}
.woocommerce div.product form.cart .button:before{
	width: 16px;
    height: 100%;
    float: left;
    background: url("../images/cart.png") no-repeat scroll left center;
    content: " ";
    margin-right: 15px;
}
.woocommerce .summary  .yith-wcwl-add-to-wishlist{
	display: inline-block;
}
.woocommerce .summary  .yith-wcwl-add-to-wishlist .show a{
	margin-left: 0;
	width: 32px;
	height: 32px;
	display: inline-block;
	line-height: 34px;
	text-align: center;
	color: #fff;
	border-radius: 50%;
}
.woocommerce .summary  .yith-wcwl-add-to-wishlist .show a:hover{
	background-color: #F36;
}
.woocommerce .summary .clear{
	display: none;
}
.woocommerce .summary .compare{
	font-size: 0;
	width: 32px;
	height: 32px;
	display: inline-block;
	padding: 0;
	background: rgba(0,0,0,0.4);
	line-height: 34px;
	color: #fff;
	text-align: center;
	border-radius: 50%;
}
.woocommerce .summary .compare:before{
	font-family: 'FontAwesome';
	font-size: 14px;
    content: "\f012";
}

.woocommerce  a.woocommerce-main-image{
	border: 1px solid #eaeaea;
	padding: 10px;
	width: 100%;
	float: left;
}
.woocommerce div.product div.images div.thumbnails{
	padding: 0 40px;
	margin-top: 15px;
	float: left;
	width: 100%;
	overflow: hidden;
}

.woocommerce div.product form.cart .variations{
	color: #333;
}
.woocommerce div.product form.cart .variations td.label{
	padding: 10px;
	vertical-align: middle;
	padding-left: 0;
	margin-bottom: 0;
	display: block;
	float: left;
	width: 26px;
	padding-right: 0;
}
.woocommerce div.product form.cart .variations label{
	color: #333;
	font-weight: normal;
	font-size: 14px;
	line-height: 30px;
	margin: 0;
	padding: 0;
	float: left;
}
.woocommerce div.product form.cart .variations select{
	width: 50%;
}
.woocommerce div.product form.cart .reset_variations, 
.woocommerce form .form-row label.hidden{
	margin-left: 10px;
}
.woocommerce div.product .variation_form_section .variations-table{
	border: none;
	border-width: 0;
}
.woocommerce div.product .variation_form_section .variations-table th,
.woocommerce div.product .variation_form_section .variations-table td{
	border: none;
}
.woocommerce div.product .variation_form_section .variations-table label{
	color: #333;
	font-weight: normal;
	font-size: 14px;
	line-height: 25px;
	margin: 0;
	padding: 0;
	margin-top: -5px;
    float: left;
}
.woocommerce div.product form.cart table td{
	padding-left: 15px;
}
.woocommerce div.product .variation_form_section .variations-table td:first-child{
	width:36px;
	text-align: left;
	padding-left: 0;
	padding-right: 0;
}
.woocommerce div.product .variation_form_section .variations-table .swatch-wrapper{
	padding: 0;
}
.woocommerce div.product .variation_form_section .variations-table .selected{
	border: 1px solid #ff3366;
}
.woocommerce div.product .variation_form_section .variations-table .swatch-anchor{
	max-width: 20px;
	max-height: 20px;
}

.woocommerce #content div.product div.thumbnails a, 
.woocommerce div.product div.thumbnails a, 
.woocommerce-page #content div.product div.thumbnails a, 
.woocommerce-page div.product div.thumbnails a{
	width: 100%;
	margin: 0;
	border: 1px solid #eaeaea;
    padding: 7px 10px;
}
.woocommerce div.product div.images, 
.woocommerce div.product div.summary{
	margin-bottom: 30px;
}

.woocommerce div.product .utilities{
	border-top: 1px solid #eaeaea;
	margin-top: 15px;
	padding-top: 15px;
}
.woocommerce div.product .utilities ul{
	padding: 0;
}
.woocommerce div.product .utilities ul li{
	list-style: none;
	display: inline-block;
	margin-right: 15px;
}

/*------------------
Cart
--------------------*/
.woocommerce table.shop_table{
	border-radius: 0;
	margin-top: 30px;
	border-collapse:collapse;
}
.woocommerce table.shop_table .quantity table,
.woocommerce table.shop_table .quantity table th,
.woocommerce table.shop_table .quantity table td{
	border: none;
	padding: 0;
}
.woocommerce-cart table.cart img{
	max-width: 100px;
	width: 100%;
}
.woocommerce-cart table.cart td.actions .coupon .input-text{
	padding: 0;
	height: 34px;
	width: 150px;
	padding: 0 15px;
}
.woocommerce .cart-collaterals .cross-sells>h2, 
.woocommerce-page .cart-collaterals .cross-sells>h2{
	margin-bottom: 0;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: bold;
}
.woocommerce-cart .cart-collaterals .cart_totals table{
	border-collapse:collapse;
	border-left: 1px solid #eaeaea;
}
.woocommerce-cart .cart-collaterals .cart_totals table th,
.woocommerce-cart .cart-collaterals .cart_totals table td{
	padding: 10px;
}
.woocommerce #respond input#submit.alt, 
.woocommerce a.button.alt, 
.woocommerce button.button.alt, 
.woocommerce input.button.alt{
	background-color: #ff3366 ;
	color: #fff;
	width: auto;
	height: 34px;
	line-height: 34px;
	font-size: 14px;
	padding: 0 15px;
	border-radius: 0;
	display: table!important;
}
.woocommerce .wishlist-title{
	margin-top: 30px;
	border-bottom: 1px solid #eaeaea;
	width: 100%;
	float: left;
	margin-bottom: 30px;
	padding-bottom: 15px;
}
.woocommerce .wishlist-title>h2{
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}
.woocommerce table.wishlist_table{
	font-size: 14px;
}
.woocommerce a.remove{
	width: 100%;
}
.woocommerce .wishlist_table ins,
.woocommerce .wishlist_table .amount{
	text-decoration: none;
	font-size: 18px;
	color: #ff3366;
}
.woocommerce .wishlist_table ins{
	float: left;
}
.woocommerce .wishlist_table del .amount{
	color: #666;
	font-size: 14px;
	color: #666;
}